#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.day{
  border: black solid 2px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  position: relative;
  min-width: 130px;
  overflow: hidden;
  
 
}

.day h2{
  margin-top: -10px;
}

.underline{
  background-color: black;
  width: 100%;
  height: 2px;
  margin-top: -10px;
}

.plan-wrapper{
  align-items: center;
  text-align: center;
  margin: auto;
}
.week{

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  align-content: space-evenly;
  
}

label{
  display: block;
}

button{
  margin: 10px;
}

form{
  border: black solid 2px;
  padding: 15px;
  border-radius: 5%;
  max-width: 200px;
}

.navbar{
  border-bottom: 3px solid black;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
  left: 5px;
  height: 5%;
  padding: 10px;
  margin: 10px;
  width: 95%;
  min-height: 20px;
  
}

.navbar a {
  float: left;
  display: block;
  padding: 15px;
}
.navbar img{
  width: 40px;
  height: auto;
  display: block;  
}

.main-app{
  width: 95%;
}
.navbar-logo{
  display: flex;
}

.logo-name{
  display: flex;
}

.logo-name h2{
  color: #42cbf5;;
  font-style: italic;
}

.navbar-pages a{
  color: black;
}

input{
  width: 100%;
}

.spacer-div{
  position: relative;
  height: 5%;
  width: 100%;
  min-height: 50px;
}

.planner-text{
  font-style: normal;
  color: black;
}
